
ul.list-notice-format >li{
	list-style-type: none;
	overflow: hidden;
	height: 240px;
	margin: 30px 0px;

}
ul.list-notice-format > .row-notice-format > div:nth-child(1) > span{
	margin:8px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(1) {
    float:left;
}
ul.list-notice-format > .row-notice-format > div:nth-child(2) {
	float:left;
	background: #C8C8C8 none repeat scroll 0% 0%;
	display: block;
	margin: 5px;
	padding: 5px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(2):hover {
	background: #38B5E6 none repeat scroll 0% 0%;
	display: block;
	float: left;
	margin: 5px;
	padding: 5px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(3) > span > a {
 	color: #40B4E3;
	text-decoration: none;
	/*line-height: 40px;*/
	font-size: 20px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(4) {


}
 /**/
/* Format day Igp*/
.dayigp{
	font-size: 36px;
	color: #FFF;
	margin: 0px 0px -8px;
	display: block;
}

/* reset css para resumen*/
.view-features-articles .field-content >*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1.5;

}
/* Instrumentos */

 .item-list-institucionales {
  overflow: hidden;
  width: 100%;
  height: 158px;
}
.item-list-institucionales ul {
  position: relative;
  overflow: hidden;
}
.item-list-institucionales ul{
  list-style: none;
}
.item-list-institucionales ul li {
  max-width: 159px;
  float: left;
}
img, object, embed {
  max-width: 100%;
}
img {
  height: auto;
}
/*----------------------------*/
/* html {
  min-height: 100%;
}

body {
 background: radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)), linear-gradient(135deg, #670d10, #092756);
}

h1 {
  color: white;
  padding-left: 10px;
}
*/
#hover {
  color: rgba(188, 175, 204, 0.9);
}

h2#testimonials {
  color: rgb(94, 244, 177);
}

.all {
  width: 100%;
 /* height: 100%;*/
}

/* generic css */
.viewohy {
    margin: 4px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
 }
.viewohy .mask, .viewohy .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.viewohy img {
    display: block;
    position: relative
}
.viewohy h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
   /* font-family: Raleway, serif;*/
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.viewohy p {
    /*font-family: Merriweather, serif;*/
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}
.viewohy a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.viewohy a.info:hover {
    box-shadow: 0 0 5px #000
}

/*1*/

.view-first img { /*1*/
    transition: all 0.2s linear;
    width: 300px;
    height: 200px;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(155, 91, 52, 0.7);
    transition: all 0.4s ease-in-out;

}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    /*font-family: Raleway, serif;*/
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* */

.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

/*2*/

.view-second img {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}
.view-second .mask {
    background-color: rgba(12, 19, 27, 0.6);
    width: 300px;
    padding: 105px;
    height: 200px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-second p {
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.view-second a.info {
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out;
}
/* */
.view-second:hover .mask {
    opacity:1;
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
}
.view-second:hover p {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}
.view-second:hover a.info {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

/*3*/

.view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
}
.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    padding-
}
.view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}


.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
    opacity: 0;
}

.view-tenth:hover .mask {
    opacity: 1;
}
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{
    transform: scale(1);
    opacity: 1;
}

/* */

#block-menu-menu-instrumentos div ul.menu  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#block-menu-menu-instrumentos div ul.menu  li {
  border: #cccccc solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
  border-radius: 0.25em 0.25em 0px 0px;
  list-style: none;
}
#block-menu-menu-instrumentos div ul.menu  li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
#block-menu-menu-instrumentos div ul.menu  li.active {
  background: #ededed;
}
#block-menu-menu-instrumentos div ul.menu  li.active a {
  color:#000;
}

.clr {
  clear: both;
}
article#linehelpc {
  border: #cccccc solid 1px;
  padding: 0 1em;
}
#main-content-inside h1{display:none;}

/* Formato 2 */
.head-image img{

}

.OhyRow{
	width: 100%;
}

.contenidoohy{
	width: 70%;
	height: auto;
	float: left;
	margin-right: 20px
}

.principalOhy{
	width: 27%;
	height: auto;
	float: right;

}

.principalOhy p{
	text-align: justify;
}

.artohy{
	text-align: justify;
	clear:both;
}
.col100{width:100%;}
.line-featured {
    border-bottom: 0px solid #EDEDED;
}