/*Estilos general para platilla base IGP*/
/*cabecera */
.two-third {
	width: auto !important;
	float:right !important;
}

#header-igp{
    display: block;
    height: 79px;
    position: relative;
    padding: 1em;
}
#logo-igp{
    right: 0;
    position: absolute;
}
#logo-minam{
    float: left;
    margin: 14px 0 0 0;
}

/*fin cabecera*/
/*Features IGP*/
/*.one-half{
    background: #ededed;
    border-radius: 6px;
    width: 30%;
    padding: 0.3em 0.4em;
    height: 255px;
}
.one-half-last{
    width: 32%;
    margin-right: 0;
}*/
.img-align-right {margin: 1em 10px 10px 0; float: right;}
#featured .one-half a h3 { color: #40b4e3;}
#header-igp { position: relative; padding: 1.2em 0;}

.flex-control-nav, .flex-direction-nav{
    display: none;
}
#slider-container {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0;
}

/*Vista paginas de portada*/
.view-features-articles li {
    list-style: none;
}
.view-features-articles .views-row {
    background: #ededed;
    border-radius: 6px;
    width: 42%;
    padding: 0.7em 0.9em 0.3em;
    /*height: 245px;*/
    height: 270px;
    float: left;
    margin: 0 0.3em 1em 1em;
}
.view-features-articles .views-field-title a {
    color: #40B4E3;
    font-size: 24px;
    line-height: 26px;
    font-family:'Dosis',Arial,Verdana,serif;
}
.view-features-articles .views-field-field-imagen img{margin: 1em 10px 10px 0; float: right;}

.line-featured{
    border-bottom: 4px solid #ededed;
}

/*social icons*/
#social-icons, #block-views-redes-sociales-block {
    background: #40B4E3;
    margin-bottom: 10px;
    display:block;
    clear:both;
}
.cndg-main #social-icons {
    padding: 10px 0;
}
.field-name-field-imagen .field-item even { display: none}

.view-redes-sociales li {
    list-style: none;
}

/*slider Nivo */
.nivo-caption {
    padding: 0.8em 0;
}
.nivo-caption p {
    font-size: 24px;
    line-height: 30px;
    color: #40B4E3;
    font-weight: normal;
    font-variant: normal;
    white-space: normal;
    font-family: 'Dosis',Arial,Verdana,serif;
}

/*fin slider nivo*/
<<<<<<< HEAD
.view-noticias .entry-meta ul{display:none;}
=======

/*jcarosusel*/
.views-field-field-imagen-carousel .field-content {
    line-height: 0;
}
.views-field-field-enlace a{
    background: #615951;
    padding: 1.5em 1em;
    display: block;
    margin-right: 15px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    height: 37px;
    font-size: 12px;
}
.views-field-field-enlace a:hover{
    background:#40B4E3;
}
/*fin-jcarosusel*/

>>>>>>> 27593596a6205b16eb71b6f2ae98879ed14e64c5

/*view-slideshow responsive*/
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 0;
}
.views_slideshow_cycle_main .views-field-title {
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 3%;
    position: absolute;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    width: 94%;
    font-size: 20px;
    font-family: 'Dosis',Arial,Verdana,serif;
    margin: 0;
    background: url("../images/caption-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0)
}
.views_slideshow_cycle_main .views-field-title span.field-content {
    color: #40B4E3;
    margin: 0;
}
/*icon acordeon*/
.ui-accordion .ui-accordion-header .ui-accordion-header-icon, .ui-icon-triangle-1-s {
position: absolute;
left: .5em;
top: 50%;
margin-top: -8px;
}
.menu .leaf a.active{
  color:#40B4E3;
}

/*slidershow href*/
.views-field-field-enlace-slider{
    display: none;
    z-index: -999;
}
#page-wrapper .flex-caption a > * {
   color:#40B4E3;
}
#page-wrapper .views-field-field-imagen-slider, #page-wrapper .views-field-field-imagen-slider a {
   font-size: 0;
   line-height: 0;
}

#page-wrapper .flex-caption a:hover {
    text-decoration: underline;
}
/*fin slidershow href*/
#logo-minam img {
    height:51px;
}
.view-content .gallery-igp li {
   font-weight:bold;
}
.field-name-field-imagen-gallery .field-item, body .gallery-igp li, .gallery-video .views-row	{
    list-style:none;
	display: inline-block;
	border-radius: 2px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	transition: background .1s ease-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #f5f5f6;
}
body .gallery-igp li, .content .gallery-igp li{
	box-shadow: inset 0 0 0 1px white,0 0 8px rgba(0,0,0,.1);
	padding: 1em;
    margin:0.5em;
	border: 1px solid #dedede;
	float: left;
	width: 185px;
	height: 175px;
    text-align:center;
}
.field-name-field-imagen-gallery .field-item, .gallery-video .views-row{
	box-shadow:0 8px 16px rgba(0,0,0,0.6);
    margin: 0.5em 1em;
    width:180px;
}
body .gallery-igp li:hover {
	border-radius: 3px;
	background: #e7e7e7;
	border: 1px solid #40B4E3;
	box-shadow: 0 0 0 3px #40B4E3;
}
.field-name-field-imagen-gallery .field-item:hover{
	-webkit-transform: rotate(0deg) scale(1.1);
	-o-transform: rotate(0deg) scale(1.1);
	-moz-transform: rotate(0deg) scale(1.1);
	-ms-transform: rotate(0deg) scale(1.1);
	transform: rotate(0deg) scale(1.1);
}
#main-content .gallery_title, .gallery_title a {
	color: #40B4E3;
    text-align:center;
}
.gallery_title{
	display: block;
	font-size: 16px;
	font-weight: normal;
	background: url("../images/caption-bg.png") repeat;
	margin-top: -6px;
	padding: 0.2em 0.4em;
}
#node-119 ul.gallery-igp {
	margin: auto;
}
.content .gallery-igp li span{
	text-align: center;
        font-size:18px;
}
#footer-bottom, #footer-bottom ul.menu li a {
	color: #ccc;
}
#main-content .pdf {
    padding: 15px 10px 10px 20px;
    width: auto;
}
/*nav slideshow*/
.views-slideshow-controls-text-previous a, .views-slideshow-controls-text-next a{
    display: none;
}
.views-slideshow-controls-text-previous:hover{
    border-right: 12px solid rgba(157, 206, 223, 0.9);
}
.views-slideshow-controls-text-next:hover{
    border-left: 12px solid rgba(157, 206, 223, 0.9);
}
.views-slideshow-controls-text-previous, .views-slideshow-controls-text-next{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 55%;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    z-index: 35;
}
.views-slideshow-controls-text-previous {
    /*background-position:35px,-50px;; */
    left: 10px;
    border-right: 12px solid rgba(255,255,255,0.5);
}
.views-slideshow-controls-text-next {
    right: 10px;
    border-left: 12px solid rgba(255,255,255,0.5);
}
/*counter*/
.views-slideshow-pager-field-item .views-field-counter{
    float: left;
}
.views-slideshow-pager-field-item .views-content-counter {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #a7a7a7;
    display: inline-block;
    padding: 0;
    margin: 1px;
    cursor: pointer;
    float: none;
    text-indent: -9999px;
}
.views-slideshow-pager-fields .active .views-content-counter{
    background-color: #40B4E3;
}
.views-slideshow-pager-fields{
    position: absolute;
    bottom: 15%;
    width: 200px;
    right: 0;
    z-index: 35;
}
#views_slideshow_controls_text_pause_slideshow-block, .views-slideshow-controls-text-pause.views_slideshow_controls_text_pause{
    display: none;
}
.skin-default{
    position: relative;
}
.views-slideshow-pager-fields {
bottom: 13px !important;
}
/*fin slideshow nav*/

/* Calendario */
.sidebar .block .content li{
	background: none;
}
.calendar-calendar .month {
	color: inherit;
}
.calendar-calendar tr td.today{
	border-radius: 50%;
	color: #fff;
}
.calendar-calendar td {
	text-align: center;
}
.calendar-calendar tr td.today.date-box {
	color: inherit;
}
.calendar-calendar .year{
	color: inherit;
}
/*disable error message temparal*/
.messages.error {
	display: none !important;
}
.popup-message-title{
    display: none;
}

#footer {
    color: #aaa;
}
#footer h4 a,#footer h3 a, #footer h2 a, #footer h1 a {
    color: #40B4E3;
}
#node-337 ul.gallery-igp, #page .center{
position: relative;
width: 50%;
margin:0 auto;
}
#node-59 .center{
width: 20%;
}
#node-117 .gallery-igp li {
height:250px;
}
#node-53 .gallery-igp li {
height:145px;
}
#page .gallery-igp, .gallery-igp + * {
clear:both;
}
.views-field-field-enlace-youtube a:hover {
background: rgb(195, 60, 45);
z-index: -999;
}
/* Diseño perzonalizado para Modulo de noticias */
ul.list-notice-format >li{
    list-style-type: none;
    overflow: hidden;
    height: 240px;
    margin: 30px 0px;

}
ul.list-notice-format > .row-notice-format > div:nth-child(1) > span{
    margin:8px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(1) {
    float:left;
}
ul.list-notice-format > .row-notice-format > div:nth-child(2) {
    float:left;
    background: #C8C8C8 none repeat scroll 0% 0%;
    display: block;
    margin: 5px;
    padding: 5px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(2):hover {
    background: #38B5E6 none repeat scroll 0% 0%;
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(3) > span > a {
    color: #40B4E3;
    text-decoration: none;
    /*line-height: 40px;*/
    font-size: 20px;
}
ul.list-notice-format > .row-notice-format > div:nth-child(4) {


}
.dayigp{
    font-size: 36px;
    color: #FFF;
    margin: 0px 0px -2px;
    display: block;
}
.list-notice-format .date .month{
	font-size:11px;	
}
/* Style List Personal admin */

/*.row-flow-img-people p{  margin: 0;  padding: 0;  border: 0; vertical-align: baseline;font-size: 10px;}
.row-flow-img-people{width: 22%;position: relative;min-height: 1px;padding-left: 10px;padding-right: 10px; margin-bottom:18px;}
.row-flow-img-people article{  background: rgb(241, 244, 245);}
.row-flow-img-people .name{  color: #16222D;font-size: 15px;  line-height: 0.9;  font-weight: 400;  text-align: center;  height: 45px;}
.row-flow-img-people  .info{  padding: 0px 10px;}
.row-flow-img-people img{  width: 100%;  height: 162px;}
.Person-Img{ overflow: hidden; height: auto; background-color: white;  padding: 10px;  -webkit-box-shadow: inset 0 0 1px #666;  -moz-box-shadow: inset 0 0 1px #666;  box-shadow: inset 0 0 1px #666; margin-bottom:10px; position:relative;overflow: hidden;}
.Person-Img:hover .overlay{	 opacity:0.2; filter: alpha(opacity=40); visibility: visible;	  -webkit-transition: all 0.3s ease-in-out;	   -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; 	   box-shadow: 0 0 5px #000;   }
.Person-Img .overlay{ position: absolute; top: 0; right: 0; opacity: 0; visibility: hidden; width: 100%; height: 100%; background-color: #FFFFFF; }
*/
/* New Slyle People List*/
.listado-persona-theme > .lista-personas-row{height: 346px;list-style-type: none;  width: 22%;float:left;  
  margin:0px 0px 10px 10px; background: #F1F4F5 none repeat scroll 0% 0%;border: 1px solid #F1F4F5; border-bottom:8px solid #C8C8C8;}
.listado-persona-theme > .lista-personas-row:hover{  border: 1px solid rgb(64, 180, 227);  border-bottom: 8px solid rgb(64, 180, 227);}

.listado-persona-theme > .lista-personas-row > div:nth-child(1) {border: 1px solid rgb(64, 180, 227);border-bottom: 8px solid rgb(64, 180, 227); }
.listado-persona-theme > .lista-personas-row > div:nth-child(1):hover{}
.listado-persona-theme > .lista-personas-row > div:nth-child(1) img  { height: 250px;width: 100%;}
/*Format Attr*/
.listado-persona-theme > .lista-personas-row > div:nth-child(2) h2 { 	color: #16222D;	font-size: 18px; 	text-align: center;	margin:5px 0px 0px 0px;	padding:2px; height: 38px;line-height: 1;}
.listado-persona-theme > .lista-personas-row > div > p {line-height:1;margin: 0px;padding: 0px;border: 0px none;vertical-align: baseline;font-size: 10px;}
.listado-persona-theme > .lista-personas-row > div > p >  i {margin:0px 0px 0px 5px;}

