/*Estilos general para platilla base IGP*/
/*cabecera */
.two-third {
	width: auto !important;
	float:right !important;
}

#header-igp{
    display: block;
    height: 79px;
    position: relative;
    padding: 1em;
}
#logo-igp{
    right: 0;
    position: absolute;
}
#logo-minam{
    float: left;
    margin: 14px 0 0 0;
}

/*fin cabecera*/
/*Features IGP*/
/*.one-half{
    background: #ededed;
    border-radius: 6px;
    width: 30%;
    padding: 0.3em 0.4em;
    height: 255px;
}
.one-half-last{
    width: 32%;
    margin-right: 0;
}*/
.img-align-right {margin: 1em 10px 10px 0; float: right;}
#featured .one-half a h3 { color: #40b4e3;}
#header-igp { position: relative; padding: 1.2em 0;}

.flex-control-nav, .flex-direction-nav{
    display: none;
}
#slider-container {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 0;
}

/*Vista paginas de portada*/
.view-features-articles li {
    list-style: none;
}
.view-features-articles .views-row {
    background: #ededed;
    border-radius: 6px;
    width: 28%;
    padding: 0.7em 0.9em 0.3em;
    height: 245px;
    float: left;
    margin: 0 0.3em 1em 1em;
}
.view-features-articles .views-field-title a {
    color: #40b4e3;
    font-size: 24px;
    line-height: 26px;
    font-family:'Dosis',Arial,Verdana,serif;
}
.view-features-articles .views-field-field-imagen img{margin: 1em 10px 10px 0; float: right;}

.line-featured{
    border-bottom: 4px solid #ededed;
}

/*social icons*/
#social-icons, #block-views-redes-sociales-block {
    background: #9dcedf;
    margin-bottom: 10px;
    display:block;
    clear:both;
}
.cndg-main #social-icons {
    padding: 10px 0;
}
.field-name-field-imagen .field-item even { display: none}

.view-redes-sociales li {
    list-style: none;
}

/*slider Nivo */
.nivo-caption {
    padding: 0.8em 0;
}
.nivo-caption p {
    font-size: 24px;
    line-height: 30px;
    color: #9dcedf;
    font-weight: normal;
    font-variant: normal;
    white-space: normal;
    font-family: 'Dosis',Arial,Verdana,serif;
}

/*fin slider nivo*/
<<<<<<< HEAD
.view-noticias .entry-meta ul{display:none;}
=======

/*jcarosusel*/
.views-field-field-imagen-carousel .field-content {
    line-height: 0;
}
.views-field-field-enlace a{
    background: #615951;
    padding: 1.5em 1em;
    display: block;
    margin-right: 15px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    height: 25px;
    font-size: 12px;
}
.views-field-field-enlace a:hover{
    background:#9dcedf;
}
/*fin-jcarosusel*/

>>>>>>> 27593596a6205b16eb71b6f2ae98879ed14e64c5

/*view-slideshow responsive*/
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 0;
}
.views_slideshow_cycle_main .views-field-title {
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 3%;
    position: absolute;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    width: 94%;
    font-size: 20px;
    font-family: 'Dosis',Arial,Verdana,serif;
    margin: 0;
    background: url("../images/caption-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0)
}
.views_slideshow_cycle_main .views-field-title span.field-content {
    color: #9DCEDF;
    margin: 0;
}
/*icon acordeon*/
.ui-accordion .ui-accordion-header .ui-accordion-header-icon, .ui-icon-triangle-1-s {
position: absolute;
left: .5em;
top: 50%;
margin-top: -8px;
}
.menu .leaf a.active{
  color:#9DCEDF;
}

/*slidershow href*/
.views-field-field-enlace-slider{
    display: none;
    z-index: -999;
}
#page-wrapper .flex-caption a > * {
   color:#9DCEDF;
}
#page-wrapper .views-field-field-imagen-slider, #page-wrapper .views-field-field-imagen-slider a {
   font-size: 0;
   line-height: 0;
}

#page-wrapper .flex-caption a:hover {
    text-decoration: underline;
}
/*fin slidershow href*/
#logo-minam img {
    height:51px;
}
.field-name-field-imagen-gallery .field-item {
	display: inline-block;
	margin: 0.5em;
	padding: 10px;
	border-radius: 2px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	transition: background .1s ease-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: #f5f5f6;
	border: 1px solid #dedede;
	box-shadow: inset 0 0 0 1px white,0 0 8px rgba(0,0,0,.1);
}
.field-name-field-imagen-gallery .field-item:hover {
	border-radius: 3px;
	background: #e7e7e7;
	border: 1px solid #9dcedf;
	box-shadow: 0 0 0 3px #9dcedf;
}
.gallery_title{
	display: block;
	font-size: 24px;
	font-family: "roboto","Helvetica","Tahoma","Geneva","Arial",sans-serif;
	font-weight: normal;
}
